.navbar-header{
    color: #cdbfe3;
}
.navbar-header a{
    color: #5c4383;
}
.navbar-nav a{
    color: #5c4383;
}
.bs-docs-nav {
    background: #e6e6e6;
}

.test{
    border: 1px solid #e6e6e6;
}

.more-padding-left{
    padding: 10px 40px;
}
.panel-left{
    z-index: -2;
    display: none;
    width: 800px;
    position: absolute;
    margin-left: 221px;
    margin-top: -31px;
    border-left: none;
    border-top-left-radius: 0;
}
.list-group-item:hover div{
    display: block;
}